body{
    background-color:#0E4675;
    color:#F9D4DB;
}

.title{
    text-align: center;
}

a:link{
    color:#F9D4DB;

}

a:visited{
color:#FF9690;
}

.home-list{
    text-align: center;
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    margin:50px;
}

ul, ol{
    line-height:30px;
}
